{% load static %} 
{% block sidebar %}
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title" key="Main">Main</li>

                            <li>
                                <a href="{% url 'dashboard' %}" class="waves-effect">
                                    <i class="ti-home"></i><span class="badge rounded-pill bg-primary float-end">1</span>
                                    <span key="Dashboard">Dashboard</span>
                                </a>
                            </li>
                            {% if request.user.is_superuser %}
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ti-email"></i>
                                    <span key="Funcionário">Carreira  </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'Adicionar_carreira' %}" >Cadastrar Carreira</a></li>
                                    <li><a href="{% url 'listar_carreira' %}" >Lista de Carreira</a></li>
                                </ul>
                            </li>
                            
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ti-email"></i>
                                    <span key="Funcionário">Departamento  </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'adicionar_departamento' %}" >Cadastrar Departamento</a></li>
                                    <li><a href="{% url 'listar_departamento' %}" >Lista de Departamentos</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ti-email"></i>
                                    <span key="Funcionário">Função  </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'adicionar_funcao' %}" >Cadastrar Função</a></li>
                                    <li><a href="{% url 'listar_funcao' %}" >Lista de Funções</a></li>
                                </ul>
                            </li>

                            <li>

                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ti-email"></i>
                                    <span key="Funcionário">Nível de Carreira  </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'adicionar_nivelcarreira' %}" >Cadastrar Nível de Carreira</a></li>
                                    <li><a href="{% url 'listar_nivelcarreira' %}" >Lista de Nível de Carreira</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ti-email"></i>
                                    <span key="Funcionário">Funcionário  </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'Colaborador' %}" >Cadastrar Funcionários</a></li>
                                    <li><a href="{% url 'Listar_Colaborador' %}" >Lista de Funcionário</a></li>
                                </ul>
                            </li>

                              <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ti-email"></i>
                                    <span key="Funcionário">Faltas  </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'justificativo_adicionar' %}" >Cadastrar Faltas</a></li>
                                    <li><a href="{% url 'justificativo_listar' %}" >Lista de Faltas</a></li>
                                </ul>
                            </li>

                              <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ti-email"></i>
                                    <span key="Funcionário">Cursos  </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="{% url 'curso_adicionar' %}" >Cadastrar Cursos</a></li>
                                    <li><a href="{% url 'curso_listar' %}" >Lista de Cursos</a></li>
                                </ul>
                            </li>
                            {% endif %}

                               <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="ti-email"></i>
                                    <span key="Funcionário">Desempenho  </span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    {% if request.user.is_superuser %}
                                    <li><a href="{% url 'tarefa_adicionar' %}" >Cadastrar Tarefas</a></li>
                                    <li><a href="{% url 'performance_adicionar' %}" >Cadastrar Metas</a></li>
                                    <li><a href="{% url 'perfomacemes_adicionar' %}" >Cadastrar Resultados das Metas</a></li>

                                    {% endif %}
                                    <li><a href="{% url 'tarefa_listar' %}" >Lista de Tarefas</a></li>
                                    <li><a href="{% url 'performance_listar' %}" >Listar Metas</a></li>
                                    <li><a href="{% url 'perfomacemes_listar' %}" >Listar Resultados das Metas</a></li>
                                     <li><a href="{% url 'Graficos' %}" >Graficos</a></li>


                                </ul>
                            </li>


                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>

{% endblock %}