{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">

<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Lista de Nível de Carreira</h4>
                                        <p class="card-title-desc">Lista de dados dos Nível de Carreira </code>.
                                        </p>
                                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                            <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Carreira</th>
                                                <th>Banda Funcional</th>
                                                <th>Salário</th>
                                                <th>Ações</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                           {% for nivelcarreira in nivelcarreira %}
                                            <tr>
                                                <td>{{ nivelcarreira.nome }}</td>
                                                <td>{{ nivelcarreira.carreira.nome }}</td>
                                                <td>{{ nivelcarreira.bandafuncional }}</td>
                                                <td>{{ nivelcarreira.salario }}</td>
                                                <td>
                                                    <a class="btn btn-primary waves-effect waves-light" href="{% url 'editar_nivelcarreira' nivelcarreira.id %}" role="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Editar</font></font></a>
                                                    <a class="btn btn-danger waves-effect waves-light" href="{% url 'eliminar_nivelcarreira' nivelcarreira.id %}" role="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Eliminar</font></font></a>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
{% endblock %}

{% block extra_javascript %}

        <!-- Required datatable js -->
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
        <!-- Buttons examples -->
        <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
        <!-- Responsive examples -->
        <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- Datatable init js -->
        <script src="{% static 'js/pages/datatables.init.js' %}"></script>

{% endblock %} 