{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row align-items-center">
      <div class="col-md-2">
        <select id="mes" name="mes" class="form-select">
          <option value="01">Janeiro</option>
          <option value="02">Fevereiro</option>
          <option value="03">Março</option>
          <option value="04">Abril</option>
          <option value="05">Maio</option>
          <option value="06">Junho</option>
          <option value="07">Julho</option>
          <option value="08">Agosto</option>
          <option value="09">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
      </div>
      <div class="col-md-2">
        <input type="number" id="ano" name="ano" class="form-control" placeholder="Ano">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </div>
    </div>
    </form>
    <br>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title mb-4">Unidade em Hr</h4>

                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <h5 class="mb-0 font-size-20"></h5>
                        <h4  style="color:#3c4ccf;">Prestivo</h4>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-sm-4">
                        <div class="text-center">
                        <h4  style="color:#02a499;">Alcançado </h4>
                        </div>
                    </div>
                    <!-- end col -->

                    <!-- end col -->
                </div>
               <!-- end row -->
                <div id="morris-bar-example1" class="morris-charts morris-chart-height" dir="ltr"></div>

            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title mb-4">Unidade em %</h4>

                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <div class="text-center">
                                                <h4  style="color:#3c4ccf;">Prestivo</h4>

                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-sm-4">
                        <div class="text-center">
                                                    <h4  style="color:#02a499;">Alcançado </h4>

                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                <div id="morris-bar-example" class="morris-charts morris-chart-height" dir="ltr"></div>

            </div><!-- end cardbody -->
        </div><!-- end card -->
    </div> <!-- end col -->
</div> <!-- end row -->





{% endblock %}                                            

{% block extra_javascript %}

        <!--Morris Chart-->
        <script src="{% static 'libs/morris.js/morris.min.js' %}"></script>
        <script src="{% static 'libs/raphael/raphael.min.js' %}"></script>

        <!-- Init js -->
        <script src="{% static 'js/pages/morris.init.js' %}"></script>
<script>
var novosDadosBarra = [
    { y: "2002", a: 120, b: 80 },
    { y: "2004", a: 90, b: 100 },

];

// Chamando a função para criar o gráfico de barras com os novos dados
    window.jQuery.MorrisCharts.createBarChart("morris-bar-example", {{ dados_grafico|safe }}, "y", ["a", "b"], ["Baseline", "Plan"], ["#3c4ccf", "#02a499"]);


// Chamando a função para criar o gráfico de barras com os novos dados
    window.jQuery.MorrisCharts.createBarChart("morris-bar-example1", {{ dados_grafico2|safe }}, "y", ["a", "b"], ["Baseline", "Plan"], ["#3c4ccf", "#02a499"]);

</script>

      
        
{% endblock %} 